@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #F3F4F1;
  color: #111111;
}

::selection {
  background: rgba(0,0,0,0.1);
}

.container-layout {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (min-width: 768px) {
  .container-layout {
    padding-inline: 4rem;
  }
}

@media (min-width: 1280px) {
  .container-layout {
    padding-inline: 6rem;
  }
}